/* Styles pour les features */

/*.box-simple {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}*/

.box-simple .icon {
    background-color: transparent; /* Supprime le cercle vert */
    padding: 0; /* Supprime les marges internes */
}

.feature-image {
    width: 250px; /* Ajustez la taille selon vos besoins */
    height: auto;
    display: block;
    object-fit: cover;
    margin: -10px auto 0;
    border-radius: 8px; /* Optionnel : coins arrondis */
  }

  .box-simple h3,
.box-simple p {
    background-color: white; /* Fond blanc */
    padding: 10px; /* Ajoute de l'espace autour du texte */
    border-radius: 5px; /* Coins arrondis */
    display: inline-block; /* Ajuste la largeur au contenu */
    position: relative; /* Nécessaire pour le positionnement */
    z-index: 1; /* Place le texte au-dessus des autres éléments */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.feature-image {
    z-index: 0; /* Place l'image derrière */
    position: relative; /* Nécessaire pour que z-index fonctionne */
}


.features-subtitle {
    text-align: center; /* Centre le texte horizontalement */
    margin: 10px auto; /* Ajoute un espacement autour */
    font-size: 1.2em; /* Ajuste la taille de la police */
    color: #555; /* Optionnel : Ajuste la couleur du texte */
}