/* personnalisation de la presentation du staff*/ 

#custom-content {
    margin: 20px;
    font-family: Arial, sans-serif;
}

.group {
    margin-bottom: 40px;
}

.group h3 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333;
}

.person {
    text-align: center;
}

.person-info {
    margin-top: 10px;
}

/* Style pour le nom */
.staff-name {
    font-size: 1.2em;
    font-weight: bold;
    color: #226c3a;
    margin-bottom: 0;
}

.staff-name-alpha {
    color: #6aae7a;
    font-size: 0.65em;
    margin-top: 0; /* Colle au nom */
    margin-bottom: 0;
    padding: 0;
}

.staff-statut {
    font-size: 0.85em;
    margin-bottom: 0;
}

.staff-department {
    color: #555;
    font-size: 0.85em;
}

/* Photo du staff */

.staff-member {
    position: relative;
    height: 250px; /* Augmente la hauteur du conteneur */
    width: 200px;      /* Ajuste selon la largeur souhaitée */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.staff-col {
    margin-bottom: 40px; /* Ajuste selon l'espacement souhaité */
}

.staff-photo img {
    width: 200px;
    height: 260px;
    border-radius: 0px;
    border: 1px solid #ddd;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.staff-info,
.staff-info-fixed {
    background: #cde4d2;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(106, 174, 122, 0.6);
    text-align: center;
    position: absolute;
    left: 50%;
    top: 60%; /* Centre verticalement sur la photo */
    transform: translate(-50%, 75%); /* Décale un peu plus vers le haut */
    z-index: 2;
    height: 75px; 
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 5px 18px 5px 18px; /* Ajoute un padding en haut (12px ici) */
    margin: 0;
    opacity: 0.98;
}

/* Pour éviter que la photo soit masquée, réduis la hauteur du container si besoin */

