<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
    {{ if eq .Section "blog" }}
    <link rel="stylesheet" href="/css/blog.css">
    {{ end }}
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">
                <div class="row">
                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-9" id="blog-listing-medium">

                        {{ $paginator := .Paginate (where .Data.Pages "Type" "in" .Site.Params.mainSections) }}
                        {{ range $paginator.Pages }}
                        <section class="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- Conteneur pour la date et le titre -->
                                    <div class="post-header">
                                        <!-- Affiche la date -->
                                        {{ if isset .Params "date" }}
                                        <span class="post-date">
                                            {{ .Date.Format "2006年1月2日" }}
                                        </span>
                                        {{ end }}
                        
                                        <!-- Affiche le titre de l'article -->
                                        <span class="post-title">
                                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                                        </span>
                                    </div>
                        
                                    <!-- Ligne de séparation -->
                                    <hr class="post-divider">
                                </div>
                            </div>
                        </section>
                        {{ end }}

                    </div>
                    <!-- /.col-md-9 -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN ***
       _________________________________________________________ -->

                    <div class="col-md-3">

                        <!-- *** MENUS AND WIDGETS *** -->

                        {{ partial "sidebar.html" . }}

                        <!-- *** MENUS AND FILTERS END *** -->

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
