<footer id="footer" class="site-footer">
    <div class="container">

        {{ if isset .Site.Params "about_us" }}
        <div class="footer-about">
            {{ .Site.Params.about_us | safeHTML }}
        </div>
        {{ end }}

        {{ if isset .Site.Params "address" }}
        <div class="footer-address">
            {{ $addr := .Site.Params.address }}
            {{ $addr = replace $addr "img/at.png" ("img/at.png" | relURL) }}
            {{ $addr | safeHTML }}
        </div>
        {{ end }}

        <div class="footer-posts">
            {{ if isset .Site.Params "recent_posts" }}{{ if (default true .Site.Params.footer.recent_posts.enable) }}
            <div class="blog-entries">
                {{ range first 3 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
                <div class="item same-height-row clearfix">
                    <div class="image same-height-always">
                        <a href="{{ .Permalink }}">
                          {{ if isset .Params "banner" }}
                            <img src="{{ .Params.banner | relURL }}" class="img-responsive" alt="{{ .Title }}" />
                          {{ else }}
                            <img src="{{ "img/placeholder.png" | relURL }}" class="img-responsive" alt="{{ .Title }}" />
                          {{ end }}
                        </a>
                    </div>
                    <div class="name same-height-always">
                        <h5><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
                    </div>
                </div>
                {{ end }}
            </div>
            {{ end }}{{ end }}
        </div>

        <div class="footer-copyright">
            {{ if isset .Site.Params "copyright" }}
            <p style="font-size:0.85em; margin-bottom:0; text-align:right;">
                {{ .Site.Params.copyright | safeHTML }}
            </p>
            {{ end }}
        </div>

    </div>
</footer>


