<section id="research" class="bar background-white" style="padding-top:0; margin-top:0;">
    {{ partial "breadcrumbs.html" . }}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Liste des recherches -->
                <div class="row">
                    {{ range where .Site.RegularPages "Section" "research" }}
                    <div class="col-md-4 col-sm-6 research-block">
                        <div class="research-item text-center">
                            <!-- Image non cliquable -->
                            {{ if .Params.image }}
                            <div class="research-photo">
                                <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" class="img-responsive research-img">
                                <div class="research-overlay">
                                    <h3>{{ .Title }}</h3>
                                </div>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>

